form {
    background: #f0f8ff;
    padding: 20px;
    border-radius: 50px;
    width: 500px;
    margin: auto;
    border: 2px solid #36393a;
    font-size: 30px;
    align-items: center;
    gap: 15px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 23px;
}

