.TopBar {
  margin: 20px;
  border-radius: 40px;
  color: black;
  font-size: 25px;
}

.TopBar a {
  color: rgb(222, 0, 0);
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.TopBar a:hover {
  color: rgb(222, 7, 0);
  cursor: pointer;
  background-color: rgb(111, 111, 111, 0.3);
  border-radius: 30px;
  padding: 10px;
  font-size: 28px;
}
